@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
  /* border: 1px solid red; */
}

body{
    margin: 0;
    padding: 0;
    /* background: #1f2937; */
    
}
::-webkit-scrollbar {
    display: none;
  }

  .container{
    display: inline-flex;
    margin: 80px 0 20px 30px;
  }

  .aboutme{
    position: absolute;
    left: 550px;
    margin-bottom:80px ;
    font-size: 18px;
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Inconsolata', monospace;
  }


.line-container{
    overflow: hidden;
    /* position: fixed; */
}

svg{
    display: inline-block;
    height: 100%;
     
}

  .wrapp_uni h2{
    font-size: 32px;
    margin: 120px 0 25px 60px;
    color: #014530;
    font-weight: 500;
  }

  .wrapp_uni p{
    font-size: 21px;
    margin-left: 60px;
    line-height: 28px;
  }

  .card{
    align-items: center;
    text-align: center;
    height: 250px;

  }
  .card-title{
    margin: 35px 0 25px 0;
    font-size: 42px;
    color: #014530;
    font-weight: bold;
  }
  .card-text{
    font-size: 18px;
    line-height: 18px;
    font-family: serif;
  }